<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1> Weather Data API</h1>
    <p> URL format: http://127.0.0.1:5000/apis/v1/station/date</p>
    <p> URL for one station and one date: http://127.0.0.1:5000/apis/v1/10/1991-05-01</p>
    <p> URL for one station and all dates: http://127.0.0.1:5000/apis/v1/10</p>
    <p> URL for one station annually: http://127.0.0.1:5000/apis/v1/annually/10/1988</p>
    <p>See station codes below for query</p>
    <p>{{table|safe}}</p>
</body>
</html>